body{
	background: #172D44;
}
#wrap{
    box-sizing: border-box;
    width: 360px;
    margin: auto;
    overflow: hidden;
}
div#header {
    padding: 10px;
    margin-left: 77px;
    margin-top: 67px;
}
#header p{
    display: inline-block;
    color: #f9f9f9;
    font-family: "Helvetica Neue",Roboto,Arial,"Droid Sans",sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    margin-left: 10px;
}
#header img{
    width: 201px;
    float: none;
    margin-right: 7px;
}
div#form {
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #1f1f1f;
}
#form input[type="text"], #form input[type="password"], #form button{
    display: block;
    box-sizing: border-box;
    font-size: 16px;
    padding: 16px 10px;
    width: 100%;
    margin-bottom: 6px;
    border-radius: 3px;
    border: 1px solid #bbb;
}
#form button {
    margin-bottom: 0;
    color: #fff;
    background-color: #006dcc;
    background-image: -moz-linear-gradient(top,#08c,#04c);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#08c),to(#04c));
    background-image: -webkit-linear-gradient(top,#08c,#04c);
    background-image: -o-linear-gradient(top,#08c,#04c);
    background-image: linear-gradient(to bottom,#08c,#04c);
    background-repeat: repeat-x;
    border-color: #04c #04c #002a80;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',endColorstr='#ff0044cc',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
#form button:hover{
 	background-position: 0 -15px;
    background-color: #04c;
}
  #form button:active{
  	background-image: none;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
